# IBM Coding test

In [10]:
import pandas as pd
import itertools
from itertools import chain

In [11]:
df = pd.read_csv('/Users/guapofish/Desktop/census.csv',header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,age=Middle-aged,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Never-married,workclass=State-gov,occupation=Adm-clerical,hours-per-week=Full-time,income=Small,capital-gain=Low,capital-loss=None
1,age=Senior,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
2,age=Middle-aged,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Divorced,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
3,age=Senior,sex=Male,education=11th,native-country=United-States,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
4,age=Middle-aged,sex=Female,education=Bachelors,native-country=Cuba,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Prof-specialty,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None

In [12]:
def get_dic(numberOfAttributes,supportThreshold):
    df = pd.read_csv('/Users/guapofish/Desktop/census.csv',header = None)[:1000]   
    combo = list(itertools.combinations(range(12), numberOfAttributes))
    length_df = len(df)
    output = []
    for item in combo:
        value_count = pd.DataFrame(df[list(item)].agg(','.join, axis=1).value_counts())
        value_count['ratio'] = value_count/length_df
        output.append(list(value_count[value_count['ratio'] >= supportThreshold].index))   
    output_final = list(chain(*output))
    
    return output_final

In [13]:
get_dic(2,0.6)

['sex=Male,native-country=United-States',
 'sex=Male,race=White',
 'sex=Male,capital-gain=None',
 'sex=Male,capital-loss=None',
 'native-country=United-States,race=White',
 'native-country=United-States,workclass=Private',
 'native-country=United-States,income=Small',
 'native-country=United-States,capital-gain=None',
 'native-country=United-States,capital-loss=None',
 'race=White,workclass=Private',
 'race=White,income=Small',
 'race=White,capital-gain=None',
 'race=White,capital-loss=None',
 'workclass=Private,capital-gain=None',
 'workclass=Private,capital-loss=None',
 'income=Small,capital-gain=None',
 'income=Small,capital-loss=None',
 'capital-gain=None,capital-loss=None']