In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("/Users/guapofish/Desktop/State_street_test.xlsx")
df.head()

           ISIN Rating  Coupon Maturity Date  Yield           EAD
0  US001055AD49   BAA1    3.75    2025-07-10  3.122  1.298000e+09
1  US001055AM48   BAA2    4.75    2021-11-15  2.293  1.396000e+09
2  US001055AN21     A3    3.75    2021-04-15  1.750  5.700000e+08
3  US001055AP78     A3    4.75    2021-01-12  2.332  2.680000e+08
4  US0010EPAF55     A1    1.90    2021-09-15  1.854  4.206000e+09

# 1. Write code to conduct data cleaning (Clean NA)

In [3]:
print(df.isnull().sum())
print("The num of row of the data frame is " +str(len(df)))

ISIN             0
Rating           4
Coupon           3
Maturity Date    3
Yield            4
EAD              1
dtype: int64
The num of row of the data frame is 2467

In [4]:
# Yield/Coupon: fill the NA values by its industry average
df["Coupon"] = df["Coupon"].replace(np.nan,df["Coupon"].mean())
df["Yield"] = df["Yield"].replace(np.nan,df["Yield"].mean())

# Maturity Date/Rating： fill the NA values by its industry mode
mode_rating = df['Rating'].value_counts().index[0]
df["Rating"] = df["Rating"].replace(np.nan,mode_rating)
mode_maturity = df['Maturity Date'].value_counts().index[0]
df['Maturity Date'] = df['Maturity Date'].replace(np.nan,mode_maturity)

# EAD: delete NA values
df['EAD'] = df['EAD'].dropna()

In [5]:
# check the new df
print(df.isnull().sum())
print("The num of row of the data frame is " +str(len(df)))

ISIN             0
Rating           0
Coupon           0
Maturity Date    0
Yield            0
EAD              1
dtype: int64
The num of row of the data frame is 2467

In [6]:
# round up the quarter to maturity for later uses
now = '12/31/2019'
now = pd.to_datetime(now)
df['Quarter to Maturity'] = round(np.subtract(pd.to_datetime(df['Maturity Date']),
                                              now).astype('timedelta64[D]')/91)
df.head()

,ISIN,Rating,Coupon,Maturity Date,Yield,EAD,Quarter to Maturity
0,US001055AD49,BAA1,3.75,2025-07-10,3.122,1.298000e+09,22.0
1,US001055AM48,BAA2,4.75,2021-11-15,2.293,1.396000e+09,8.0
2,US001055AN21,A3,3.75,2021-04-15,1.750,5.700000e+08,5.0
3,US001055AP78,A3,4.75,2021-01-12,2.332,2.680000e+08,4.0
4,US0010EPAF55,A1,1.90,2021-09-15,1.854,4.206000e+09,7.0

The tab “TransitionProb” contains quarterly rating transition probabilities from 2020Q1 to 2020Q4. For each from_bucket (1-8), there should be 8 possible rating transition outcomes (i.e., 8 to_bucket). As such, for each quarter and each from_bucket, the sum of the transition probabilities cross all transitions should be 1. 

(1) check all of the probabilities range correctly between 0 and 1. <br/>
(2) check the sum of transition probabilities for each quarter and each from_bucket equals to 1;

In [7]:
TransitionProb = pd.read_excel("/Users/guapofish/Desktop/State_street_test.xlsx", sheet_name ="TransitionProb")
TransitionProb.head()

  Quarter  From_Bucket  To_Bucket  Probability
0  2020Q1            1          1       0.9905
1  2020Q1            1          2       0.0095
2  2020Q1            1          3       0.0000
3  2020Q1            1          4       0.0000
4  2020Q1            1          5       0.0000

In [8]:
# check all of the probabilities range correctly between 0 and 1
temp = TransitionProb[TransitionProb['Probability'] >= 0]
temp = temp[temp['Probability'] <= 1]
print("The statement of the probabilities range correctly between 0 and is "+ str((len(temp) - len(TransitionProb)) == 0))

The statement of the probabilities range correctly between 0 and is False

In [9]:
#print the false row 
TransitionProb[TransitionProb['Probability'] <0]

    Quarter  From_Bucket  To_Bucket  Probability
207  2020Q4            2          8    -0.007929

In [10]:
# check the sum of transition probabilities for each quarter and each from_bucket equals to 1
print('All the sum of transition probabilities for each quarter and each from_bucket equals to 1')
TransitionProb.groupby(['Quarter','From_Bucket']).sum()

All the sum of transition probabilities for each quarter and each from_bucket equals to 1

                     To_Bucket  Probability
Quarter From_Bucket
2020Q1  1                   36          1.0
        2                   36          1.0
        3                   36          1.0
        4                   36          1.0
        5                   36          1.0
        6                   36          1.0
        7                   36          1.0
        8                   36          1.0
2020Q2  1                   36          1.0
        2                   36          1.0
        3                   36          1.0
        4                   36          1.0
        5                   36          1.0
        6                   36          1.0
        7                   36          1.0
        8                   36          1.0
2020Q3  1                   36          1.0
        2                   36          1.0
        3                   36          1.0
        4                   36          1.0
        5                   36          1.0
        6                   36          1.0
        7                   36          1.0
        8                   36          1.0
2020Q4  1                   36          1.0
        2                   36          1.0
        3                   36          1.0
        4                   36          1.0
        5                   36          1.0
        6                   36          1.0
        7                   36          1.0
        8                   36          1.0

# 2. After preprocessing, compute following sample statistics: 
a.	total EAD, grouped by Rating <br/>
b.	total EAD and number of unique facility by industry <br/>
c.	Find the industry which has highest averaged yield <br/>

In [11]:
# total EAD, grouped by Rating 
rating_df = df.groupby('Rating').sum()
rating_df

             Coupon       Yield           EAD  Quarter to Maturity
Rating
A1       597.155000   385.91000  1.851390e+11               1896.0
A2      1008.773226   664.52500  2.397815e+11               3424.0
A3      1228.072000   768.29702  3.444710e+11               3569.0
AA1       44.592000    34.22600  3.516200e+10                186.0
AA2       62.700000    34.60300  2.087150e+10                156.0
AA3      382.193000   245.92500  1.449295e+11               1148.0
AAA       59.630000    37.61200  2.637650e+10                224.0
BAA1    1844.218226  1224.90502  3.897135e+11               5195.0
BAA2    2106.906000  1467.61404  3.743165e+11               5861.0
BAA3    2021.182226  1550.63200  3.134795e+11               5162.0

In [12]:
#total EAD 
rating_df['EAD'].sum()

2074240500000.0

In [13]:
#number of unique facility by industry 
df3 = pd.read_excel("/Users/guapofish/Desktop/State_street_test.xlsx", sheet_name ="Identification")
df3.head()

           ISIN Ticker                          Name           Industry
0  US92553PBB76  TRPCN               ANR PIPELINE CO          MIDSTREAM
1  US92553PBA93    PFE                     WYETH LLC    PHARMACEUTICALS
2  US349553AL15  MUNRE        MUNICH RE AMERICA CORP                P&C
3  US349553AJ68    AON                      AON CORP                P&C
4  US233331AY31    BHP  BHP BILLITON FINANCE USA LTD  METALS_AND_MINING

In [14]:
# number of unique facility by industry
unique_inds = df3['Industry'].unique()
print(unique_inds)
print("The number of unique facility by industry is " + str(len(unique_inds)))

['MIDSTREAM' 'PHARMACEUTICALS' 'P&C' 'METALS_AND_MINING' 'BANKING'
 'AEROSPACE/DEFENSE' 'RAILROADS' 'HEALTH_INSURANCE' 'CONSUMER_PRODUCTS'
 'FOOD_AND_BEVERAGE' 'AUTOMOTIVE' 'PAPER' 'TECHNOLOGY'
 'BUILDING_MATERIALS' 'MEDIA_ENTERTAINMENT' 'INDEPENDENT' 'WIRELINES'
 'INTEGRATED' 'CABLE_SATELLITE' 'TRANSPORTATION_SERVICES'
 'DIVERSIFIED_MANUFACTURING' 'ENVIRONMENTAL' 'RETAILERS' 'ELECTRIC'
 'CHEMICALS' 'LIFE' 'NATURAL_GAS' 'UTILITY_OTHER' 'SUPERMARKETS'
 'OIL_FIELD_SERVICES' 'CONSTRUCTION_MACHINERY' 'WIRELESS' 'REFINING'
 'BROKERAGE_ASSETMANAGERS_EXCHANGES' 'HEALTHCARE' 'INDUSTRIAL_OTHER'
 'CONSUMER_CYCLICAL_SERVICES' 'AIRLINES' 'TOBACCO' 'RETAIL_REITS'
 'OTHER_REITS' 'OFFICE_REITS' 'RESTAURANTS' 'HEALTHCARE_REITS' 'LODGING'
 'PACKAGING' 'APARTMENT_REITS' 'FINANCE_COMPANIES' 'HOME_CONSTRUCTION'
 'FINANCIAL_OTHER' 'LEISURE']
The number of unique facility by industry is 51

In [15]:
#Find the industry which has highest averaged yield 
result = pd.merge(df, df3, how='left', on=['ISIN'])
result_y = result.groupby('Industry').mean()
result_y['Yield'].idxmax()

'OIL_FIELD_SERVICES'

# 3. Find the industry which has lowest grades

In [16]:
df2 = pd.read_excel("/Users/guapofish/Desktop/State_street_test.xlsx", sheet_name ="Rating_to_Bucket")
result_2 = pd.merge(df2, result, how='outer', on=['Rating']).dropna()
result_2 = result_2.groupby(['Industry']).apply(lambda x: np.average(x['Bucket'],weights=x['EAD']))
print(result_2.idxmin())
result_2

UTILITY_OTHER

Industry
AEROSPACE/DEFENSE                    2.520137
AIRLINES                             2.302652
APARTMENT_REITS                      2.795634
AUTOMOTIVE                           2.753648
BANKING                              2.335554
BROKERAGE_ASSETMANAGERS_EXCHANGES    2.411156
BUILDING_MATERIALS                   2.721747
CABLE_SATELLITE                      2.480285
CHEMICALS                            2.672323
CONSTRUCTION_MACHINERY               2.020207
CONSUMER_CYCLICAL_SERVICES           2.463392
CONSUMER_PRODUCTS                    2.492780
DIVERSIFIED_MANUFACTURING            2.287634
ELECTRIC                             2.468012
ENVIRONMENTAL                        3.000000
FINANCE_COMPANIES                    2.577378
FINANCIAL_OTHER                      3.000000
FOOD_AND_BEVERAGE                    2.368488
HEALTHCARE                           2.634189
HEALTHCARE_REITS                     3.000000
HEALTH_INSURANCE                     2.319584
HOME_CONSTRUCTION                    3.000000
INDEPENDENT                          2.663056
INDUSTRIAL_OTHER                     2.160647
INTEGRATED                           2.071286
LEISURE                              3.000000
LIFE                                 2.704120
LODGING                              3.000000
MEDIA_ENTERTAINMENT                  2.888738
METALS_AND_MINING                    2.591581
MIDSTREAM                            2.930942
NATURAL_GAS                          2.772118
OFFICE_REITS                         3.000000
OIL_FIELD_SERVICES                   2.844089
OTHER_REITS                          3.000000
P&C                                  2.526126
PACKAGING                            3.000000
PAPER                                3.000000
PHARMACEUTICALS                      2.585232
RAILROADS                            2.409654
REFINING                             3.000000
RESTAURANTS                          2.689224
RETAILERS                            2.578455
RETAIL_REITS                         2.612556
SUPERMARKETS                         3.000000
TECHNOLOGY                           2.269742
TOBACCO                              2.307716
TRANSPORTATION_SERVICES              2.599408
UTILITY_OTHER                        2.000000
WIRELESS                             2.825648
WIRELINES                            3.000000
dtype: float64

# 4.  Write Python/R code to format the data to matrix form

-- Tab “TransitionProb” obtains the rating transition probabilities for 2020Q1 to 2020Q4; The data was extracted from a centralized database and so is saved in a non-matrix format. The desired format should be four 8*8 matrix, one for each quarter. (10 points)

In [17]:
'''
def f(x):
    return (x.pivot(index='From_Bucket', columns='To_Bucket', values='Probability'))

dff.groupby('Quarter').apply(f)

'''
matrix_4 = TransitionProb.groupby('Quarter').apply(lambda x: x.pivot(index='From_Bucket', columns='To_Bucket', values='Probability'))
matrix_4

To_Bucket                 1         2         3         4         5         6  \
Quarter From_Bucket
2020Q1  1            0.9905  0.009500  0.000000  0.000000  0.000000  0.000000
        2            0.0002  0.989700  0.006000  0.002000  0.001400  0.000600
        3            0.0000  0.000983  0.965800  0.012000  0.009800  0.010197
        4            0.0000  0.000000  0.006700  0.953500  0.021400  0.017000
        5            0.0000  0.000000  0.000000  0.000960  0.934100  0.038700
        6            0.0000  0.000000  0.000000  0.000002  0.000990  0.911100
        7            0.0000  0.000000  0.000000  0.000000  0.000000  0.000000
        8            0.0000  0.000000  0.000000  0.000000  0.000000  0.000000
2020Q2  1            0.9805  0.004000  0.015500  0.000000  0.000000  0.000000
        2            0.0002  0.979700  0.014032  0.003700  0.001600  0.000600
        3            0.0000  0.000983  0.955800  0.012000  0.009800  0.010197
        4            0.0000  0.000000  0.006700  0.943300  0.021400  0.017000
        5            0.0000  0.000000  0.000000  0.000960  0.914600  0.038700
        6            0.0000  0.000000  0.000000  0.000002  0.000990  0.901100
        7            0.0000  0.000000  0.000000  0.000000  0.000000  0.000000
        8            0.0000  0.000000  0.000000  0.000000  0.000000  0.000000
2020Q3  1            0.9533  0.030000  0.006900  0.000770  0.000900  0.000400
        2            0.0000  0.932300  0.040000  0.009970  0.003300  0.002200
        3            0.0000  0.000000  0.930000  0.022000  0.009800  0.010197
        4            0.0000  0.000000  0.009067  0.882100  0.034900  0.027000
        5            0.0000  0.000000  0.000000  0.000000  0.880000  0.038700
        6            0.0000  0.000000  0.000000  0.000000  0.000034  0.878700
        7            0.0000  0.000000  0.000000  0.000000  0.000000  0.000000
        8            0.0000  0.000000  0.000000  0.000000  0.000000  0.000000
2020Q4  1            0.9677  0.020000  0.006900  0.000770  0.000900  0.000400
        2            0.0000  0.952400  0.040000  0.009970  0.003300  0.002200
        3            0.0000  0.000000  0.941100  0.022000  0.009800  0.010197
        4            0.0000  0.000000  0.009067  0.908900  0.047900  0.004300
        5            0.0000  0.000000  0.000000  0.000000  0.902100  0.054000
        6            0.0000  0.000000  0.000000  0.000000  0.000000  0.880000
        7            0.0000  0.000000  0.000000  0.000000  0.000000  0.000000
        8            0.0000  0.000000  0.000000  0.000000  0.000000  0.000000

To_Bucket                   7         8
Quarter From_Bucket
2020Q1  1            0.000000  0.000000
        2            0.000100  0.000000
        3            0.000670  0.000550
        4            0.000760  0.000640
        5            0.015500  0.010740
        6            0.059280  0.028628
        7            0.901600  0.098400
        8            0.000000  1.000000
2020Q2  1            0.000000  0.000000
        2            0.000100  0.000068
        3            0.010670  0.000550
        4            0.002760  0.008840
        5            0.020000  0.025740
        6            0.067280  0.030628
        7            0.880100  0.119900
        8            0.000000  1.000000
2020Q3  1            0.000067  0.007663
        2            0.000059  0.012171
        3            0.010670  0.017333
        4            0.006400  0.040533
        5            0.020000  0.061300
        6            0.008892  0.112374
        7            0.850000  0.150000
        8            0.000000  1.000000
2020Q4  1            0.000067  0.003263
        2            0.000059 -0.007929
        3            0.010670  0.006233
        4            0.006400  0.023433
        5            0.033000  0.010900
        6            0.009892  0.110108
        7            0.826000  0.174000
        8            0.000000  1.000000

# 5.	For each facility, compute cumulative default probability from Dec 31, 2019 (end of 2019Q4) to maturity date

In [18]:
#average transition matrix after one year
matrix = matrix_4.reset_index().groupby('From_Bucket').mean()
matrix

To_Bucket,1,2,3,4,5,6,7,8
From_Bucket,,,,,,,,
1,0.9730,0.015875,0.007325,0.000385,0.000450,0.000200,0.000034,0.002731
2,0.0001,0.963525,0.025008,0.006410,0.002400,0.001400,0.000080,0.001077
3,0.0000,0.000491,0.948175,0.017000,0.009800,0.010197,0.008170,0.006166
4,0.0000,0.000000,0.007883,0.921950,0.031400,0.016325,0.004080,0.018361
5,0.0000,0.000000,0.000000,0.000480,0.907700,0.042525,0.022125,0.027170
6,0.0000,0.000000,0.000000,0.000001,0.000504,0.892725,0.036336,0.070434
7,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.864425,0.135575
8,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000

In [19]:
f = pd.merge(df2, result, how='outer', on=['Rating']).dropna()
f['Quarter to Maturity'] = f['Quarter to Maturity'].astype(int)
f['default_probability'] = 0  #initiaize a new column

In [20]:
f.head()

,Rating,Bucket,ISIN,Coupon,Maturity Date,Yield,EAD,Quarter to Maturity,Ticker,Name,Industry,default_probability
0,AAA,1,US001192AH64,2.700,2025-02-12,2.278,2.291000e+09,21,MSFT,MICROSOFT CORP,TECHNOLOGY,0
1,AAA,1,US023551AJ38,1.550,2021-08-08,1.633,2.699500e+09,6,MSFT,MICROSOFT CORP,TECHNOLOGY,0
2,AAA,1,US02364WAP05,2.050,2023-03-01,1.730,5.020000e+08,13,JNJ,JOHNSON & JOHNSON,PHARMACEUTICALS,0
3,AAA,1,US03523TBE73,2.375,2022-02-12,1.792,1.523500e+09,9,MSFT,MICROSOFT CORP,TECHNOLOGY,0
4,AAA,1,US03523TBF49,1.850,2020-02-12,1.385,1.501000e+09,0,MSFT,MICROSOFT CORP,TECHNOLOGY,0

In [21]:
matrix_term = []
matrix_term.append(matrix_4.loc['2020Q1'])
matrix_term.append(matrix_4.loc['2020Q2'])
matrix_term.append(matrix_4.loc['2020Q3'])
matrix_term.append(matrix_4.loc['2020Q4'])
max_period = int(f['Quarter to Maturity'].max())

for i in range(max_period-4):
    matrix_term.append(matrix)

# len(matrix_term) = 24 good
# Cumlulative default probaility for each time Quarter to Maturity item

for i in range(max_period-1):
    matrix_term[i+1] = matrix_term[i+1]*matrix_term[i]

print(matrix_term)

[To_Bucket         1         2       3         4        5         6        7  \
From_Bucket
1            0.9905  0.009500  0.0000  0.000000  0.00000  0.000000  0.00000
2            0.0002  0.989700  0.0060  0.002000  0.00140  0.000600  0.00010
3            0.0000  0.000983  0.9658  0.012000  0.00980  0.010197  0.00067
4            0.0000  0.000000  0.0067  0.953500  0.02140  0.017000  0.00076
5            0.0000  0.000000  0.0000  0.000960  0.93410  0.038700  0.01550
6            0.0000  0.000000  0.0000  0.000002  0.00099  0.911100  0.05928
7            0.0000  0.000000  0.0000  0.000000  0.00000  0.000000  0.90160
8            0.0000  0.000000  0.0000  0.000000  0.00000  0.000000  0.00000

To_Bucket           8
From_Bucket
1            0.000000
2            0.000000
3            0.000550
4            0.000640
5            0.010740
6            0.028628
7            0.098400
8            1.000000  , To_Bucket               1             2         3             4             5  \
From_Bucket
1            9.711853e-01  3.800000e-05  0.000000  0.000000e+00  0.000000e+00
2            4.000000e-08  9.696091e-01  0.000084  7.400000e-06  2.240000e-06
3            0.000000e+00  9.662890e-07  0.923112  1.440000e-04  9.604000e-05
4            0.000000e+00  0.000000e+00  0.000045  8.994366e-01  4.579600e-04
5            0.000000e+00  0.000000e+00  0.000000  9.216000e-07  8.543279e-01
6            0.000000e+00  0.000000e+00  0.000000  5.290000e-12  9.801000e-07
7            0.000000e+00  0.000000e+00  0.000000  0.000000e+00  0.000000e+00
8            0.000000e+00  0.000000e+00  0.000000  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            3.600000e-07  1.000000e-08  0.000000e+00
3            1.039788e-04  7.148900e-06  3.025000e-07
4            2.890000e-04  2.097600e-06  5.657600e-06
5            1.497690e-03  3.100000e-04  2.764476e-04
6            8.209922e-01  3.988358e-03  8.768006e-04
7            0.000000e+00  7.934982e-01  1.179816e-02
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1         2             3             4             5  \
From_Bucket
1            0.925831  0.000001  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  0.903967  3.367680e-06  7.377800e-08  7.392000e-09
3            0.000000  0.000000  8.584938e-01  3.168000e-06  9.411920e-07
4            0.000000  0.000000  4.070176e-07  7.933930e-01  1.598280e-05
5            0.000000  0.000000  0.000000e+00  0.000000e+00  7.518085e-01
6            0.000000  0.000000  0.000000e+00  0.000000e+00  3.332340e-11
7            0.000000  0.000000  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            7.920000e-10  5.920000e-13  0.000000e+00
3            1.060272e-06  7.627876e-08  5.243233e-09
4            7.803000e-06  1.342464e-08  2.293195e-07
5            5.796060e-05  6.200000e-06  1.694624e-05
6            7.214059e-01  3.546448e-05  9.852959e-05
7            0.000000e+00  6.744734e-01  1.769724e-03
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.895927  2.280000e-08  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  8.609377e-01  1.347072e-07  7.355667e-10  2.439360e-11
3            0.000000  0.000000e+00  8.079285e-01  6.969600e-08  9.223682e-09
4            0.000000  0.000000e+00  3.690429e-09  7.211149e-01  7.655763e-07
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  6.782065e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            1.742400e-12  3.504640e-17 -0.000000e+00
3            1.081159e-08  8.138944e-10  3.268107e-11
4            3.355290e-08  8.591770e-11  5.373644e-09
5            3.129873e-06  2.046000e-07  1.847140e-07
6            6.348372e-01  3.508147e-07  1.084890e-05
7            0.000000e+00  5.571151e-01  3.079320e-04
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.871737  3.619500e-10  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  8.295350e-01  3.368758e-09  4.714982e-12  5.854464e-14
3            0.000000  0.000000e+00  7.660576e-01  1.184832e-09  9.039208e-11
4            0.000000  0.000000e+00  2.909350e-11  6.648319e-01  2.403910e-08
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  6.156080e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            2.439360e-15  2.789693e-21 -0.000000e+00
3            1.102458e-10  6.649517e-12  2.015278e-13
4            5.477511e-10  3.505442e-13  9.866816e-11
5            1.330978e-07  4.526775e-09  5.018679e-09
6            5.667350e-01  1.274720e-08  7.641350e-07
7            0.000000e+00  4.815842e-01  4.174788e-05
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket         1             2             3             4             5  \
From_Bucket
1            0.8482  5.745956e-12  0.000000e+00  0.000000e+00  0.000000e+00
2            0.0000  7.992778e-01  8.424589e-11  3.022304e-14  1.405071e-16
3            0.0000  0.000000e+00  7.263567e-01  2.014214e-11  8.858424e-13
4            0.0000  0.000000e+00  2.293586e-13  6.129417e-01  7.548276e-10
5            0.0000  0.000000e+00  0.000000e+00  0.000000e+00  5.587874e-01
6            0.0000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.0000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.0000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            3.415104e-18  2.220596e-25 -0.000000e+00
3            1.124177e-12  5.432656e-14  1.242721e-15
4            8.942037e-12  1.430220e-15  1.811695e-12
5            5.659985e-09  1.001549e-10  1.363575e-10
6            5.059385e-01  4.631823e-10  5.382135e-08
7            0.000000e+00  4.162934e-01  5.659969e-06
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.825298  9.121706e-14  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  7.701241e-01  2.106821e-12  1.937297e-16  3.372171e-19
3            0.000000  0.000000e+00  6.887133e-01  3.424164e-13  8.681255e-15
4            0.000000  0.000000e+00  1.808148e-15  5.651016e-01  2.370159e-11
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  5.072113e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            4.781146e-21  1.767594e-29 -0.000000e+00
3            1.146323e-14  4.438480e-16  7.663240e-18
4            1.459787e-13  5.835299e-18  3.326545e-14
5            2.406909e-10  2.215927e-12  3.704834e-12
6            4.516639e-01  1.683019e-11  3.790872e-09
7            0.000000e+00  3.598544e-01  7.673502e-07
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.803015  1.448071e-15  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  7.420338e-01  5.268739e-14  1.241807e-18  8.093211e-22
3            0.000000  0.000000e+00  6.530207e-01  5.821080e-15  8.507630e-17
4            0.000000  0.000000e+00  1.425454e-17  5.209955e-01  7.442298e-13
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  4.603957e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            6.693604e-24  1.407005e-33 -0.000000e+00
3            1.168905e-16  3.626238e-18  4.725537e-20
4            2.383103e-15  2.380802e-20  6.108035e-16
5            1.023538e-11  4.902739e-14  1.006603e-13
6            4.032117e-01  6.115419e-13  2.670076e-10
7            0.000000e+00  3.110672e-01  1.040335e-07
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.781334  2.298812e-17  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  7.149681e-01  1.317606e-15  7.959984e-21  1.942371e-24
3            0.000000  0.000000e+00  6.191779e-01  9.895835e-17  8.337478e-19
4            0.000000  0.000000e+00  1.123756e-19  4.803318e-01  2.336882e-14
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  4.179012e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            9.371045e-27  1.119976e-37 -0.000000e+00
3            1.191933e-18  2.962636e-20  2.914003e-22
4            3.890416e-17  9.713672e-23  1.121527e-17
5            4.352595e-13  1.084731e-15  2.734941e-15
6            3.599572e-01  2.222099e-14  1.880651e-11
7            0.000000e+00  2.688942e-01  1.410434e-08
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.760238  3.649365e-19  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  6.888897e-01  3.295069e-17  5.102350e-23  4.661690e-27
3            0.000000  0.000000e+00  5.870890e-01  1.682292e-18  8.170728e-21
4            0.000000  0.000000e+00  8.859134e-22  4.428419e-01  7.337809e-16
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  3.793289e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            1.311946e-29  8.915010e-42 -0.000000e+00
3            1.215414e-20  2.420474e-22  1.796920e-24
4            6.351104e-19  3.963178e-25  2.059291e-19
5            1.850941e-14  2.399967e-17  7.430835e-17
6            3.213428e-01  8.074217e-16  1.324624e-12
7            0.000000e+00  2.324389e-01  1.912196e-09
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.739711  5.793366e-21  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  6.637624e-01  8.240310e-19  3.270606e-25  1.118805e-29
3            0.000000  0.000000e+00  5.566631e-01  2.859896e-20  8.007314e-23
4            0.000000  0.000000e+00  6.984098e-24  4.082781e-01  2.304072e-17
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  3.443168e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            1.836725e-32  7.096348e-46 -0.000000e+00
3            1.239358e-22  1.977527e-24  1.108071e-26
4            1.036818e-20  1.616977e-27  3.781168e-21
5            7.871127e-16  5.309927e-19  2.018958e-18
6            2.868707e-01  2.933848e-17  9.329903e-14
7            0.000000e+00  2.009260e-01  2.592460e-10
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.719739  9.196969e-23  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  6.395517e-01  2.060737e-20  2.096459e-27  2.685133e-32
3            0.000000  0.000000e+00  5.278141e-01  4.861824e-22  7.847167e-25
4            0.000000  0.000000e+00  5.505914e-26  3.764120e-01  7.234786e-19
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  3.125364e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            2.571415e-35  5.648693e-50 -0.000000e+00
3            1.263773e-24  1.615640e-26  6.832917e-29
4            1.692605e-22  6.597265e-30  6.942792e-23
5            3.347197e-17  1.174821e-20  5.485509e-20
6            2.560967e-01  1.066043e-18  6.571457e-15
7            0.000000e+00  1.736855e-01  3.514728e-11
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.700306  1.460019e-24  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  6.162240e-01  5.153490e-22  1.343830e-29  6.444320e-35
3            0.000000  0.000000e+00  5.004601e-01  8.265101e-24  7.690224e-27
4            0.000000  0.000000e+00  4.340587e-28  3.470330e-01  2.271723e-20
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  2.836893e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            3.599981e-38  4.496359e-54 -0.000000e+00
3            1.288669e-26  1.319978e-28  4.213518e-31
4            2.763177e-24  2.691684e-32  1.274801e-24
5            1.423395e-18  2.599292e-22  1.490413e-21
6            2.286239e-01  3.873573e-20  4.628563e-16
7            0.000000e+00  1.501380e-01  4.765092e-12
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.681398  2.317780e-26  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  5.937473e-01  1.288785e-23  8.613950e-32  1.546637e-37
3            0.000000  0.000000e+00  4.745237e-01  1.405067e-25  7.536419e-29
4            0.000000  0.000000e+00  3.421902e-30  3.199471e-01  7.133209e-22
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  2.575048e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            5.039973e-41  3.579102e-58 -0.000000e+00
3            1.314056e-28  1.078422e-30  2.598266e-33
4            4.510887e-26  1.098207e-34  2.340725e-26
5            6.052989e-20  5.750935e-24  4.049451e-23
6            2.040983e-01  1.407502e-21  3.260098e-17
7            0.000000e+00  1.297831e-01  6.460274e-13
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket        1             2             3             4             5  \
From_Bucket
1            0.663  3.679476e-28  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000  5.720903e-01  3.222993e-25  5.521542e-34  3.711928e-40
3            0.000  0.000000e+00  4.499316e-01  2.388614e-27  7.385691e-31
4            0.000  0.000000e+00  2.697656e-32  2.949752e-01  2.239828e-23
5            0.000  0.000000e+00  0.000000e+00  0.000000e+00  2.337371e-01
6            0.000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            7.055962e-44  2.848965e-62 -0.000000e+00
3            1.339943e-30  8.810705e-33  1.602221e-35
4            7.364023e-28  4.480685e-37  4.297923e-28
5            2.574034e-21  1.272394e-25  1.100236e-24
6            1.822036e-01  5.114298e-23  2.296229e-18
7            0.000000e+00  1.121877e-01  8.758516e-14
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.645099  5.841167e-30  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  5.512233e-01  8.060061e-27  3.539308e-36  8.908627e-43
3            0.000000  0.000000e+00  4.266139e-01  4.060644e-29  7.237977e-33
4            0.000000  0.000000e+00  2.126697e-34  2.719524e-01  7.033059e-25
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  2.121631e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00
2            9.878347e-47  2.267776e-66 -0.000000e+00
3            1.366340e-32  7.198346e-35  9.880094e-38
4            1.202177e-29  1.828119e-39  7.891631e-30
5            1.094608e-22  2.815172e-27  2.989341e-26
6            1.626577e-01  1.858331e-24  1.617334e-19
7            0.000000e+00  9.697789e-02  1.187436e-14
8            0.000000e+00  0.000000e+00  1.000000e+00  , To_Bucket           1             2             3             4             5  \
From_Bucket
1            0.627682  9.272853e-32  0.000000e+00  0.000000e+00  0.000000e+00
2            0.000000  5.311175e-01  2.015660e-28  2.268697e-38  2.138071e-45
3            0.000000  0.000000e+00  4.045046e-01  6.903095e-31  7.093218e-35
4            0.000000  0.000000e+00  1.676582e-36  2.507265e-01  2.208381e-26
5            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  1.925805e-01
6            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
7            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
8            0.000000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00

To_Bucket               6             7             8
From_Bucket
1            0.000000e+00  0.000000e+00  0.000000e+00

In [22]:
num = len(f)
# f['default_probaility'][0] = matrix_term[f['Quarter to Maturity'][0]].loc[f['Bucket'][0]][8]

for i in range(num+1):    
    try:
        f['default_probability'].loc[i] = matrix_term[f['Quarter to Maturity'][i]-1].loc[f['Bucket'][i]][8]    
    except:
        # f['default_probaility'][1073] error   
        continue

/Users/guapofish/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [23]:
df = f[['Rating','Quarter to Maturity','default_probability']]
df

     Rating  Quarter to Maturity  default_probability
0       AAA                   21         0.000000e+00
1       AAA                    6         0.000000e+00
2       AAA                   13         0.000000e+00
3       AAA                    9         0.000000e+00
4       AAA                    0         0.000000e+00
...     ...                  ...                  ...
2462   BAA1                   22         5.432422e-51
2463   BAA1                   21         8.809571e-49
2464   BAA1                   16         9.880094e-38
2465   BAA1                   16         9.880094e-38
2466   BAA1                    7         7.663240e-18

[2466 rows x 3 columns]

In [24]:
df.groupby(['Quarter to Maturity','Rating']).mean()

                            default_probability
Quarter to Maturity Rating
0                   A1             0.000000e+00
                    A2             0.000000e+00
                    A3             0.000000e+00
                    AA1            0.000000e+00
                    AA3            0.000000e+00
...                                         ...
24                  A3             0.000000e+00
                    AA3            0.000000e+00
                    BAA1           2.065718e-55
                    BAA2           2.065718e-55
                    BAA3           2.065718e-55

[210 rows x 1 columns]

In [25]:
f['default_probability'].max()

0.00055